:root {
  --main-color: #2e2f42; /* Logo/hero/footer/nav_items color*/
  --secondary-color: #fff; /* Title/Button/Cards*/
  --link-hover-color: #404bbf; /* header links hover color*/
  --additional-background-color: #f4f4fd; /* Team and menu button bg color, logo bottom 2nd part*/
  --footer-text-color: #e7e9fc; /*Footer text color*/
  --main-btn-logo-txt-color: #4d5ae5; /* Logo, service button , menu button color*/
  --section-text-color: #434455;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--secondary-color);
}
/* ============================= COMPONENTS =============================*/
.section-text {
  color: var(--section-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 1158px;
  padding: 0 5px;
  outline: 2px solid red;
}

/* ============================= /COMPONENTS =============================*/
/* ============================= LOGO =============================*/

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--main-btn-logo-txt-color);
}

.logo-second-part {
  color: var(--main-color);
}
.logo-btm-second-part {
  color: var(--additional-background-color);
}
/* ============================= /LOGO =============================*/
/* ============================= HEADER =============================*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.nav-left {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-hover-color);
}

.address {
  display: flex;
  gap: 40px;
}

.address-item {
  color: var(--section-text-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item:hover,
.address-item:focus {
  color: var(--link-hover-color);
}
/* ============================= /HEADER =============================*/
/* ============================= MAIN =============================*/

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  padding: 188px 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.service-button {
  background-color: var(--main-btn-logo-txt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-color);
  font-family: inherit;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
}
.service-button:hover,
.service-button:focus {
  background-color: var(--link-hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.work-examples {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.work-examples .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.article-images {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  gap: 24px;
}

.team {
  background-color: var(--additional-background-color);
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px 32px;
  gap: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-body {
  gap: 8px;
}

/* ============================= /MAIN =============================*/
/* ============================= FOOTER =============================*/
footer {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  padding: 94px 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17.5px;
  max-width: 264px;
  align-self: center;
}

.footer-text {
  color: var(--footer-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============================= FOOTER =============================*/

/*================================PORTFOLIO===========================*/

.portfolio-section {
  display: flex;
  justify-content: center;
  padding: 96px 0 120px 0;
}

.portfolio-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.menu-button {
  background-color: var(--additional-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  color: var(--main-btn-logo-txt-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
}
.menu-button:hover,
.menu-button:focus {
  background-color: var(--link-hover-color);
  color: var(--secondary-color);
}

.cards-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
}

.grid-card {
  border: 1px solid #e7e9fc;
}

.grid-card:not(:nth-of-type(n + 7)) {
  margin-bottom: 48px;
}

.grid-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 32px 0 32px 16px;
}

/*================================/PORTFOLIO===========================*/
